html, body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-message {
    color: white;
}
.simon-game {
    height: 500px;
    width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

#bottom {
    margin-top: 2rem;
    font-size: 1.5rem;
    color:white;
    text-align: center;
}

button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
}

.color-panels {
    height: 50%;
    width: 50%;
    opacity: 0.5;
    float: left;
}

.color-panels.active {
    opacity: 1;
}

.color-panels:nth-child(1) { background-color: red;}
.color-panels:nth-child(2) { background-color: blue;}
.color-panels:nth-child(3) { background-color: green;}
.color-panels:nth-child(4) { background-color: yellow;}


.simon-game:before {
    position: absolute;
    content: "";
    background-color: black;
    height: 200px;
    width: 200px;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}
.simon-game {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 500px;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}
.title {
    background-color: rgb(255, 255, 255);
    font-size: 35px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 40px;
    width: 130px;
    border-radius: 5%;
    place-items: center;
    display: grid;
}
.level {
    color: red;
    background-color: rgb(115, 39, 39);
    font-size: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 56%;
    left: 50%;
    z-index: 1;
    height: 40px;
    width: 50px;
    border-radius: 5%;
    place-items: center;
    display: grid;
}
.topLeft {
    top: 45%;
    left: 45%;
    margin: -200px 0px 0px -200px;
    height: 210px;
    width: 210px;
    border-radius: 210px 0 0 0;
    box-sizing: border-box;
    position: absolute;
}
.topRight {
    top: 45%;
    left: 53%;
    margin: -200px 0px 0px 0px;
    box-sizing: border-box;
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 0 210px 0 0;
}
.bottomLeft {
    top: 53%;
    left: 47%;
    margin: 0px -210px 0px -210px;
    box-sizing: border-box;
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 0 0 0 210px;
}
.bottomRight {
    top: 53%;
    left: 53%;
    margin: 0px 0px -210px 0px;
    box-sizing: border-box;
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 0 0 210px 0;
}