body {
    background-color: white;
}

.game-container {
    background-color: white;
    height: 600px;
    width: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

.simon-game {
    height: 500px;
    width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: black;
    border-radius: 50%;
}
.simon-game:before {
    position: absolute;
    content: "";
    background-color: black;
    height: 200px;
    width: 200px;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

.color-panels {
    height: 13em;
    width: 14em;
    position: absolute
}

.title {
    background-color: rgb(255, 255, 255);
    font-size: 35px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    z-index: 1;
    height: 40px;
    width: 130px;
    border-radius: 5%;
    place-items: center;
    display: grid;
}

.level {
    color: red;
    background-color: rgb(115, 39, 39);
    font-size: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    z-index: 1;
    height: 40px;
    width: 50px;
    border-radius: 5%;
    place-items: center;
    display: grid;

}

.topLeft {
    background-color: red;
    top: 50%;
    left: 50%;
    margin: -210px 0px 0px -210px;
    height: 200px;
    width: 200px;
    border-radius: 200px 0 0 0;
    box-sizing: border-box;
    position: absolute;
    
}

.topRight {
    background-color:blue;
    top: 50%;
    left: 51%;
    margin: -210px 0px 0px 0px;
    box-sizing: border-box;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 0 200px 0 0;
}


.bottomLeft {
    background-color: yellow;
    top: 51%;
    left: 50%;
    margin: 0px -200px 0px -210px;
    box-sizing: border-box;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 0 0 0 200px;
}


.bottomRight {
    background-color: green;
    top: 51%;
    left: 51%;
    margin: 0px 0px -210px 0px;
    box-sizing: border-box;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 0 0 200px 0;
}